<%
  const catName = typeof category !== 'undefined' ? String(category) : '';
  let panelClass = 'panel-environment';
  let panelPhoto = '/images/category-environment.jpg';
  if (/food/i.test(catName)) { panelClass = 'panel-food'; panelPhoto = '/images/category-food.jpg'; }
  else if (/elder/i.test(catName)) { panelClass = 'panel-elderly'; panelPhoto = '/images/category-elderly.jpg'; }
  else if (/educat|tutor|youth/i.test(catName)) { panelClass = 'panel-education'; panelPhoto = '/images/category-education.jpg'; }
  else if (/fund|rais/i.test(catName)) { panelClass = 'panel-fundraising'; panelPhoto = '/images/category-fundraising.jpg'; }
  else if (/health|blood|well/i.test(catName)) { panelClass = 'panel-health'; panelPhoto = ''; }
  else if (/environ|clean|green|garden/i.test(catName)) { panelClass = 'panel-environment'; panelPhoto = '/images/category-environment.jpg'; }
  // An organiser-set event image (events.image) always wins over the category default.
  if (typeof image !== 'undefined' && image) { panelPhoto = String(image); }
  const contain = typeof containPhoto !== 'undefined' && containPhoto;
  const panelStyle = !panelPhoto
    ? ''
    : contain
      ? 'background-image:url(' + panelPhoto + ')'
      : 'background-image:var(--cc-photo-scrim-soft), url(' + panelPhoto + ')';
%>
<div class="event-card-panel <%= panelClass %><%= panelPhoto ? ' has-photo' : '' %><%= contain ? ' contain-photo' : '' %>" aria-hidden="true"<% if (panelStyle) { %> style="<%= panelStyle %>"<% } %>></div>
